<h3>Characters for #{@television_show.title} </h3>

<!-- <%= form_for @character do |f| %>

  <% if @actor.errors.any? %>
    <ul>
      <% @actor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :character %>
    <%= f.text_field :character %> -->

    <% fields_for @actor do |actor| %>
    <p>
    <%= actor.label :name %>
    <%= actor.text_field :name %>
  <% end %></div>


 <!--  <%= f.submit 'Submit' %> -->
<!-- <% end %> -->

<%= form_for @character, url: {action: "create"} do |f| %>
  <%= f.text_field :character %>
  <%= fields_for @character.actor do |u| %>
    <%= u.text_field :name %>
  <% end %>
<% end %>
